html,body{
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  overflow-x: hidden;
}
.content{
  display: none;
}
.hidden{
  display: none !important;
}
.pre-con{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.preloader{
  height: 80px !important;
  width: 80px !important;
}
.logo{
  height: 50px;
}
.hero_img{
  height: 90% !important;
}

.btn_grp_1{
  background-color: #00AFEF !important;
  border-radius: 10px !important;
}

.btn_grp_2{
  background: 
  linear-gradient(112.8deg, #6A36FF -15.76%, rgba(0, 175, 239, 0.937255) 102.86%);
  padding: 10px 20px !important;
  border-radius: 10px !important;

}

.btn_grp_3{
  padding: 10px 20px !important;
  border-radius: 10px !important;
  border: 1px solid white !important;
}

.btn_grp_4{
  padding: 10px 20px !important;
  border-radius: 10px !important;
  background: linear-gradient(112.8deg, #6A36FF -15.76%, #AC5FE6 102.86%);

}

.hero_section{
  background: url("images/hero_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10%;
} 

.hero_text{
  font-weight: 700;
}


.text_grp_1{
  font-weight: 100;
}

.sponsor_img{
  width: 50px;
}

.text_grp_2{
  color: #14358A;
  font-weight: 700;
  font-size: xx-large;
}

.text_grp_3{
  color: #0097FE;
  font-size: medium;
  font-weight: 700;
}

.solution_grp{
  box-shadow: 0px 0px 50px 0px #F7EDFF;
  margin: auto !important;
}

.solution_text{
  background-color: white;
}

.text_grp_4{
  color: #14358A;
}

.course_container .btn_grp_3{
  color: #006FBA;
  border: 1px solid #006FBA !important;
}
.course_bg,.social_bg, .testi_container,.footer_bg{
  background-color: #EBF7FF;
}

.course_row_2  .text_grp_3{
  font-size: large;
  font-weight: 700;
}

.course_row_2_sm,.learn_more_2,.analytics_img_1, .cyber_img_1{
  display: none !important;
}

.social_container{
  background-image: url("images/media_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.social_row{
  padding-top: 20%;
}
.tech_card{
  background-image: url("images/Patern.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px !important;
}
.card-img-top{
  border-radius: 0 !important;
}
.card{
  cursor: pointer;
}
.portfolio_img,.card,.analytics_img_2, .cyber_img,.cyber_img_1,.analytics_img_2{
  transition: 0.3s ease-in-out;
}

.portfolio_img:hover, .card:hover, .analytics_img_2:hover,.cyber_img:hover
,.cyber_img_1:hover,.analytics_img_1:hover{
  transform: perspective(200px) translateZ(20px);
  transition: 0.3s ease-in-out;
}

.bi{
  color: orange;
}
.testimonials{
  background-color: white;
  border-radius: 10px;
}
.owl-dots {
	display: inline-block !important;
  margin-top: 2% !important;
}
.owl-carousel{
  margin: auto !important;
}
.testimonials img{
  width: 50px !important;
}
.person_name{
  font-weight: 700;
}
.person_occupation,.footer_text{
  font-weight: 300;
}
.footer_icons{
  display: flex;
  gap:5px;
}

.footer_header_text{
  font-weight: 700;
}
.footer_container{
  background-image: url('images/footer_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.footer_row{
  padding-top: 15%;
}
@media only screen and (min-width:400px) and (max-width:689.9px){
  .social_row{
    padding-top: 85% !important;
  }
  .footer_row{
      padding-top: 50% !important;
  }
}

@media only screen and (min-width:690px) and (max-width:767.9px){
  .social_row{
    padding-top: 60% !important;
  }
  .footer_row{
    padding-top: 20% !important;
}
}
/* phones */
@media only screen and (max-width:767.9px){
  .social_row{
  padding-top: 100%;
  }
  .footer_row{
    padding-top: 80%;
}
  .pages{
    margin: auto !important;
  }
.footer_icons{
  display: flex !important;
  justify-content: center !important;
  gap: 10px !important;
  }
  .social_container{
    height: auto !important;
  }

  .card_row{
    margin: auto !important;
  }
  .hero_text{
    font-size:xx-large;
  }

  .hero_img{
    display: none;
  }
  
  .hero_section{
    padding: 20% 0 10%;
  }

  .btn_grp_2, .btn_grp_3{
    font-size: medium !important;
    width: 100% !important;
  }

  .navbar{
    background-image: url('images/hero_bg.png');
  }

  .nav{
    margin-left: 3%;
    margin-top: 5%;
  }

  #collapsibleNavbar>.btn_grp_1{
    margin-left: 3% !important;
    margin: 3% 0;
  }
   
  .text_grp_2{
    font-size: x-large;
  }

  .text_grp_3{
    font-size: large !important;
  }

  #course_row_2{
    display: none !important;
  }

  .course_row_2_sm{
    display: block !important;
    margin-top: 30% !important;
  }

  .course_row_2_sm  .text_grp_3{
    font-size: large;
    font-weight: 700;
  }

  .learn_more_1,.analytics_img_2, .cyber_img_2,.dev_process_img{
    display: none !important;
  }

  .learn_more_2, .analytics_img_1,.cyber_img_1{
    display: block !important;
  }


}
/* larger phones, tablets */
@media only screen and (min-width:768px) and (max-width:991.9px){
  .logo{
    margin-left: 40% !important;
  }
  .social_container{
    height: 810px !important;
  }
  .hero_section{
    padding-bottom: 5%;
  }
  .hero_text{
    font-size: xx-large;
  }
  .solution_grp .text_grp_1{
    margin: auto;
  }
}
/* larger tablets,small laptops */
@media only screen and (min-width:992px) and (max-width:1199.9px){
 
  .logo{
    margin-left: 40% !important;
  }

  #collapsibleNavbar>.btn_grp_1{
    margin-left: 10% !important;
  }

  .hero_text{
    font-size:xx-large;
  }

  .social_container{
    height: 820px !important;
  }
 }
 /*larger screens, desktops */
 @media only screen and (min-width:1200px){
  .logo{
    margin-left: 20% !important;
  }

  #collapsibleNavbar>.btn_grp_1{
    margin-left: 20% !important;
  }

  .hero_text{
    font-size: 40px;
  }
  .social_row{
    padding: 15% 0 5%;
  }
 }

 @media only screen and (min-width:1400px){
  .logo{
    margin-left: 60% !important;
  }

 }
